# Dependencies
node_modules
.pnp
.pnp.*

# Build outputs
.next
out
build
dist

# Logs
*.log

# Environment files
.env*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Git
.git
